{% load static %}
<footer class="border-top bg-dark text-center py-1 footer">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand p-0" href="/">
        <img src={% static 'img/logo.png' %} alt="Logo" width="40">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="//vk.com/shipilov69">Мой VK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ok.ru/profile/570046028713">Мой OK</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>