{% extends 'base.html' %}

{% block title %}Видео{% endblock %}

{% block content %}
    <div class="container my-5">
        {% for video in page_obj %}
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">{{ video.title }}</h5>
                    {{ video.link_code|safe }}
                    <div class="actions" style="margin-top: 10px;">
                        <a href="{% url 'blog:video_details' video.pk %}" target="_blank" class="btn custom-button">Подробнее...</a>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
